<div>
    <p> Enter the vin: <input type="text" ng-model="alertController.vin"></input>
        <button type="button" class="btn btn-primary" ng-click="alertController.getAlerts()">Submit</button>
    </p>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>vin</th>
        <th>timestamp</th>
        <th>alertPriority</th>
        <th>alertMessage</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="alert in alertController.alerts">
        <td>{{alert.vin}}</td>
        <td>{{alert.timestamp}}</td>
        <td>{{alert.alertPriority}}</td>
        <td>{{alert.alertMessage}}</td>
    </tr>
    </tbody>
</table>